<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        {{ partial "head.html" . }}
    </head>

    {{ block "body" . }}
        <body>
    {{ end }}
	
	
		
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/katex.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.15.1/dist/contrib/auto-render.min.js" onload="renderMathInElement(document.body);"></script>
    
        <div class="container">
            {{ partial "header.html" . }}

            <div class="content">
                {{ block "main" . }}{{ end }}
            </div>

            {{ block "footer" . }}
                {{ partial "footer.html" . }}
            {{ end }}
        </div>

        {{ partial "javascript.html" . }}
    </body>
</html>